# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*

# Coverage
coverage/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Tests (opcional)
.tmp/
